.container-Apropos {
  margin-top: 5rem;
  display: flex;

  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
  min-width: 2 5rem;
  /* text-align: justify; */
  /* justify-content: center; */
}
.introduction-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;

  width: 60%;
}
.text-introduction {
  /* margin-left: 15rem; */
  /* min-width: 25rem; */
  /* text-align: justify; */
}
.formation-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  max-width: 50%;
}
.formation-div {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  list-style-type: none;
}
.experience-container {
  margin-top: 7rem;
  max-width: 50%;
}

@media screen and (max-width: 830px) {
  .dessinIndImg {
    display: none;
  }

  .formation-div {
    flex-direction: column;
    gap: 5rem;
  }
}
