.modal-content {
  width: 400px;
  background-color: #353432;
  color: #eee;
  position: fixed;
  inset: 0 0 0 auto;
  height: 100vh;
  overflow-y: auto;
  padding: 1rem;
  border-radius: 8px;
}
hr {
  width: 100%;
}

h2 {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.product-cart-data {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
  color: #eee;
  font-size: 1.5rem;
}

.img-product-modal {
  width: 3rem;
}

.add-to-cart-btn {
  background-color: rgb(47, 88, 47);
  color: white;
  border: none;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 1rem;
  width: 10rem;
}
.confirm-order-btn {
  background-color: rgb(255, 216, 20);
  margin-top: 2rem;
  border: none;
  width: 10rem;
  height: 2rem;
  border-radius: 30px;
  color: black;
}
.h4-title {
  margin-top: 1rem;
}
.h3-title {
  margin-top: 0.5rem;
}
.remove-btn {
  background-color: red;
  border: none;
  color: #eee;
  border-radius: 30px;
  width: 5rem;
  height: 2rem;
}
hr {
  margin-top: 0.5rem;
}
