.footer-container {
  background-color: black;
  margin-top: auto;
}
.first-section {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 3rem;
}
.socialNetworksLogos {
  margin-top: 2rem;
}

.second-section {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 3rem;
  display: flex;
  gap: 5rem;
}

.contact-sentence {
  font-size: 1.3rem;
  color: white;
  font-weight: 600;
}
.contact-btn {
  font-size: 1.1rem;
  text-decoration: none;
  background-color: white;
  color: black;
  border-radius: 100px;
  width: 10rem;
  text-align: center;
  font-weight: 600;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  padding-top: 3px;
}
.last-section {
  margin-top: 4rem;
  margin-left: 25%;
  margin-right: 25%;
}

a {
  text-decoration: none;
  color: white;
}
.links-footer {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  display: flex;
  gap: 3rem;
}
.link-footer {
  font-size: 0.9rem;
}
.copyright {
  margin-top: 2rem;
  color: white;
  text-align: center;
  padding-bottom: 2rem;
}
