.home-container {
  margin-bottom: 5rem;
}

.slider-container {
  margin-top: 3rem;
}
.card-title {
  text-align: center;
  margin-top: 3rem;
  font-size: 2rem;
}
.card-product {
  margin-top: 3rem;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 830px) {
  .card-product {
    gap: 3rem;
  }
}
