.home-container {
  margin-bottom: 5rem;
}

.slider-container {
  margin-top: 3rem;
}
.nouveaute-title {
  text-align: center;
  margin-top: 3rem;
  font-size: 2rem;
}
.nouveautees-product {
  margin-top: 3rem;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}
