.products-container {
  margin-top: 5rem;
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5rem;
}
.title-nosProduits {
  margin-top: 3rem;
  text-align: center;
}
.filter-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
