.product-info {
  color: black;
  list-style: none;
  text-align: center;
}

.product-container {
  display: flex;
  flex-direction: column;

  width: 15rem;
  height: 20rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.product-image {
  width: 15rem;
}
.allProducts-container {
  display: flex;
  flex-direction: row;
}
.product-btn {
  background-color: #e8c902;
  border: none;
  height: 3rem;
}
