.carousel-container {
  width: 50%;
  margin-left: 30rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.overlay {
  width: 100%;
  height: 20%;
  position: absolute;
  top: 70%;
  transform: translateY(-50);

  padding: 0.4rem 1.5rem;
  text-align: center;
  padding-top: 2.5rem;

  background: rgb(226, 226, 235);
  opacity: 0.7;
  color: black;
}
.btn-decouvrir {
  background: rgb(255, 255, 255);
  opacity: 1;
  border: none;
  width: 7rem;
  height: 2.5rem;
}
.carousel-status {
  display: none;
}

@media screen and (max-width: 830px) {
  .carousel-container {
    width: 95%;
    margin-left: 0.5rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  .btn-decouvrir {
    display: none;
  }
  .overlay_title {
    margin-top: -1.6rem;
  }
}
